@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$mainFont: montserrat, sans-serif ;
$titleFont: Cinzel, serif;

// Tipografias

* {
    font-family: $mainFont;
}
h1 {
    font-family: $titleFont;
}

// Tamaños 

h1 {
    font-size: 4rem;
    font-weight: 400;
}

li{
    font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

@media screen and (max-width: 740px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

@media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  }


