//MIXINS
@mixin medidas($width, $height, $padd, $margin){
    width: $width;
    height: $height;
    padding: $padd;
    margin: $margin;
}

@mixin box($border, $radius, $shadow, $outline){
    border: $border;
    border-radius: $radius;
    box-shadow: $shadow;
    outline: $outline;
}
@mixin textos($size, $weight, $color, ) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}
@mixin reset($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// GENERAL

*{
    @include reset(0,0 );
    box-sizing: border-box;
}

//NAV

nav {
    display: flex;
    justify-content: center; /* Centrar horizontalmente el grupo de enlaces */
    align-items: center; /* Centrar verticalmente el grupo de enlaces */
    background-color: #fff; /* Añade un color de fondo si lo deseas */
    .nav {
        display: flex;
        align-items: center; /* Centrar los elementos hijos verticalmente */
    }
    .burger {
        width: 4vw;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex; /* Utilizamos flexbox para los elementos de la lista */
        list-style: none; /* Quitamos los puntos de la lista */
    }
    .nav-link {
        text-decoration: none;
        color: black; /* Cambia el color de los enlaces según lo necesites */
        margin: 0 10px; /* Añade márgenes entre los enlaces si lo deseas */
      }
    
}
//FOOTER

footer {
    h5 {
        color:$secGreycolor;
    }
    ul {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        li {
            margin-top: 5px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $blackColor;
    color: $greycolor;
    padding: 10px;
    .copy {
        padding: 12px;
        width: 80%;
        max-width: 400px;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
                font-size: 1em;
            }
        }
    }

    .redes {
        margin: 20px 0 ;
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 400px;
        ul {
            display: flex;
            justify-content: space-between;
        }
        a {
            font-size: 0.8em;
            text-decoration: none;
            color: $greycolor;
            &:hover {
                color: $whiteColor;
            }
        }
    }
}
@media screen and (min-width:700px) {
    footer{
        flex-direction: row;
        ul {
            flex-direction: column;
        }
    }
}
/*footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer {
        display: flex;
        justify-content: space-between;
        width: 30%;

        a {
            list-style: none;
            text-decoration: none;
        }
    }
}

.icons {
    width: 100%; // Ajustamos el ancho al 100% del contenedor
    height: auto; // La altura se ajustará automáticamente para mantener la proporción
    max-width: 60px; // Establecemos un ancho máximo para evitar que los iconos sean demasiado grandes en pantallas grandes
    max-height: 60px; // Establecemos una altura máxima para mantener la proporción
}
*/
hr{
    border: solid 1px #000;
    opacity: 100%;
}