@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: montserrat, sans-serif;
}

h1 {
  font-family: Cinzel, serif;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

li {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

@media screen and (max-width: 740px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center; /* Centrar horizontalmente el grupo de enlaces */
  align-items: center; /* Centrar verticalmente el grupo de enlaces */
  background-color: #fff; /* Añade un color de fondo si lo deseas */
}
nav .nav {
  display: flex;
  align-items: center; /* Centrar los elementos hijos verticalmente */
}
nav .burger {
  width: 4vw;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex; /* Utilizamos flexbox para los elementos de la lista */
  list-style: none; /* Quitamos los puntos de la lista */
}
nav .nav-link {
  text-decoration: none;
  color: black; /* Cambia el color de los enlaces según lo necesites */
  margin: 0 10px; /* Añade márgenes entre los enlaces si lo deseas */
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(33, 35, 34);
  color: rgb(171, 175, 174);
  padding: 10px;
}
footer h5 {
  color: rgb(201, 205, 204);
}
footer ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin-top: 5px;
}
footer .copy {
  padding: 12px;
  width: 80%;
  max-width: 400px;
}
footer .copy ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .copy ul li {
  font-size: 1em;
}
footer .redes {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
}
footer .redes ul {
  display: flex;
  justify-content: space-between;
}
footer .redes a {
  font-size: 0.8em;
  text-decoration: none;
  color: rgb(171, 175, 174);
}
footer .redes a:hover {
  color: rgb(254, 255, 250);
}

@media screen and (min-width: 700px) {
  footer {
    flex-direction: row;
  }
  footer ul {
    flex-direction: column;
  }
}
/*footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer {
        display: flex;
        justify-content: space-between;
        width: 30%;

        a {
            list-style: none;
            text-decoration: none;
        }
    }
}

.icons {
    width: 100%; // Ajustamos el ancho al 100% del contenedor
    height: auto; // La altura se ajustará automáticamente para mantener la proporción
    max-width: 60px; // Establecemos un ancho máximo para evitar que los iconos sean demasiado grandes en pantallas grandes
    max-height: 60px; // Establecemos una altura máxima para mantener la proporción
}
*/
hr {
  border: solid 1px #000;
  opacity: 100%;
}

.contenedor {
  max-width: 30%;
  height: 350px; /* Altura fija para los contenedores */
  display: flex; /* Utilizamos flexbox para alinear y centrar las imágenes */
  align-items: center; /* Alinear verticalmente las imágenes */
  justify-content: center; /* Centrar horizontalmente las imágenes */
  overflow: hidden; /* Ocultar cualquier parte de la imagen que exceda el contenedor */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.contenedor img {
  width: 100%; /* Asegúrate de que la imagen ocupe todo el espacio disponible */
  height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  padding: 50px 0;
}

.box {
  position: relative;
  overflow: hidden;
}
.box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box .boton-fotos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.box:hover .boton-fotos {
  opacity: 1;
}

.box:nth-child(13) {
  grid-column-start: span 1;
}

.box:nth-child(14) {
  grid-column-start: span 1;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.biografia {
  width: 100%;
  margin: auto;
}
.biografia img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.biografia .texto.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.biografia .texto.row-center p, .biografia .texto.row-center picture {
  width: 100%;
  margin: 10px;
}
.biografia .texto picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1000px;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}/*# sourceMappingURL=main.css.map */